
body {
	/* font-family: 'Arial Black', Gadget, sans-serif; */
	font-family: 'Lucida Console', Monaco, monospace;
	height: 100%;
	color: #00f100;
	background-color: #000;
}

hr {
	height: 0.25rem;
	background-color: #7db8e4;
	border: none;
}

.container {
	margin-bottom: 1.875rem;
}

.input:focus {
    outline: none;
	border: 1px solid;
	border-color: #555;
}

.input {
	width: 5rem;
    background-color:transparent;
	border: 1px solid;
	border-color: #555;
}
.input, .label, .title {
	color: #00f100;
}

.logo {
	display:block;
	line-height: 0.5rem; 
	font-size: 0.5rem; 
	font-weight:bold;
	white-space:pre;
	font-family: monospace;
	color: #00f100;
	background-color: #000;
}